* {padding: 0; margin: 0}

/*style="background: url(images/back.jpg) no-repeat;" Это для бекграунда когда проверяем как в игре смотрится */

#iphone {
	position: relative;
	left: 620px;
	top: 200px;
	width: 240px;
	height: 500px;
	background: black;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 38px;
}

#screen {
	position: relative;
	top: 8px;
	left: 9px;
	width: 214px;
	height: 474px;
	border-radius: 30px;
	background: linear-gradient(to top left, purple, crimson, orangered, gold);
	box-shadow: 1px 6px 8px 1px grey;
	border: 4px solid #303030;
}

#camera1 {
	position: relative;
	top: -12px;
	left: 47px;
	width: 107px;
	height: 24px;
	border-radius: 15px;
	background-color: black;
	border: 4px solid #303030;
}
#camera2 {
	position: relative;
	top: -36px;
	left: 51px;
	width: 107px;
	height: 8px;
	background-color: black;
}
#camera3 {
	position: relative;
	top: -52px;
	left: 45px;
	width: 120px;
	height: 8px;
	background-color: black;
}
#camera4dinamic {
	position: relative;
	top: -406px;
	left: 89px;
	width: 30px;
	height: 4px;
	background-color: dimgrey;
	border-radius: 100px;
}

.time {
	position: relative;
	top: -46px;
	left: 9px;
	font-family: "Microsoft Sans Serif";
	letter-spacing: 0;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

#wifi {
	position:relative;
	top:-62px;
	left: 163px;
}

#battery {
	position:relative;
	top:-83px;
	left: 182px;
}

/* APP */

#firstApp {
	position: relative;
	top: -74px;
	left: 5.2px;
	height: 47px;
	width: 47px;
	background-color: green;
	border-radius: 13px;
}
#firstApp:hover {
	background-color: white;
	box-shadow: 0 0 10px white;
	cursor: pointer;
}
#firstApp:active {
	border: 4px solid white;
	height: 39px;
	width: 39px;
	box-shadow: 0 0 20px white;
}


#secondApp {
	position: relative;
	top: -125px;
	left: 57.4px;
	height: 47px;
	width: 47px;
	background-color: green;
	border-radius: 11px;
}
#secondApp:hover {
	background-color: white;
	box-shadow: 0 0 10px white;
	cursor: pointer;
}
#secondApp:active {
	border: 4px solid white;
	height: 39px;
	width: 39px;
	box-shadow: 0 0 20px white;
}


#thirdApp {
	position: relative;
	top: -176px;
	left: 109.6px;
	height: 47px;
	width: 47px;
	background-color: lightblue;
	border-radius: 11px;
}
#thirdApp:hover {
	background-color: white;
	box-shadow: 0 0 10px white;
	cursor: pointer;
}
#thirdApp:active {
	border: 4px solid white;
	height: 39px;
	width: 39px;
	box-shadow: 0 0 20px white;
}


#fourthApp {
	position: relative;
	top: -227px;
	left: 161.8px;
	height: 47px;
	width: 47px;
	background-color: dimgrey;
	border-radius: 11px;
}
#fourthApp:hover {
	background-color: white;
	box-shadow: 0 0 10px white;
	cursor: pointer;
}
#fourthApp:active {
	border: 4px solid white;
	height: 39px;
	width: 39px;
	box-shadow: 0 0 20px white;
}



#info {
	position: relative;
	top: 30px;
	text-align: center;
	font-family: "Arial";
	font-weight: bold;
	color: white;
	opacity: .3;
}
#info:hover {
	cursor: pointer;
	opacity: .9;
}
#info:active {
	text-shadow: 0 0 13px white;
}

#slider {
	position: relative;
	height: 4px;
	width: 142.6px;
	top: 45px;
	left: 35.7px;
	border-radius: 20px;
	background-color: white;
	opacity: .3;
}
#slider:hover {
	cursor: pointer;
	opacity: .8;
}
#slider:active {
	box-shadow: 0 0 13px white;
}

#windowSettings {
	position: relative;
	width: 203.6px;
	height: 230px;
	left: 5.2px;
	background-color: white;
	bottom: 315px;
	border-radius: 30px;
	opacity: 0;
	transition: opacity 0.4s;
}

#windowDonate {
	position: relative;
	width: 203.6px;
	height: 230px;
	left: 5.2px;
	background-color: lightblue;
	bottom: 545px;
	border-radius: 30px;
	opacity: 0;
	transition: opacity 0.4s;
}

#windowMessages {
	position: relative;
	width: 203.6px;
	height: 230px;
	left: 5.2px;
	background-color: yellow;
	bottom: 775px;
	border-radius: 30px;
	opacity: 0;
	transition: opacity 0.4s;
}

#windowCalls {
	position: relative;
	width: 203.6px;
	height: 230px;
	left: 5.2px;
	background-color: lightgreen;
	bottom: 1005px;
	border-radius: 30px;
	opacity: 0;
	transition: opacity 0.4s;
}