.toggle {
    position: relative;
    display: block;
    width: 3.5vh;
    height: 2vh;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.toggle:before {
    content: "";
    position: relative;
    top: 0.35vh;
    left: 0.1vh;
    width: 3.5vh;
    height: 1.2vh;
    display: block;
    background: #444;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 2vh;
    height: 2vh;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(68, 68, 68, 0.5);
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -1vh;
    width: 5vh;
    height: 5vh;
    background: rgba(17, 153, 102, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked+.toggle:before {
    background: #265;
}

#cbx:checked+.toggle span {
    background: #196;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(17, 153, 102, 0.2);
}

#cbx:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}
